# Logistic Regression in SciKit Learn - Lab

## Introduction 

In this lab, we are going to fit a logistic regression model to a dataset concerning heart disease. Whether or not a patient has heart disease is indicated in the final column labelled 'target'. 1 is for positive for heart disease while 0 indicates no heart disease.

## Objectives
You will be able to:

* Understand and implement logistic regression
* Compare testing and training errors

## Let's get started!

In [14]:
#Starter Code
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [2]:
#Starter Code
df = pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## Define appropriate X and y
Recall the dataset is whether or not a patient has heart disease and is indicated in the final column labelled 'target'. With that, define appropriate X and y in order to model whether or not a patient has heart disease.

In [ ]:
#Your code here 

X = df.drop(['target'], axis=1)
y = df['target']

In [6]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

## Normalize the Data
Normalize the data prior to fitting the model.

In [7]:
#Your code here
for col in df.columns:
    df[col] = (df[col]-min(df[col]))/ (max(df[col]) - min(df[col]))

## Train Test Split
Split the data into train and test sets.

In [10]:
#Your code here
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

## Fit a model
Fit an intial model to the training set. In SciKit Learn you do this by first creating an instance of the regression class. From there, then use the **fit** method from your class instance to fit a model to the training data.

In [ ]:
logreg = LogisticRegression(fit_intercept = False, C = 1e12) #Starter code
#Your code here
model_log = logreg.fit(X_train, y_train)
model_log

In [ ]:
model_log.coef_

In [24]:
model_log.score(X_test, y_test)

0.8289473684210527

## Predict
Generate predictions for the train and test sets. Use the **predict** method from the logreg object.

In [12]:
#Your code here
y_hat_test = model_log.predict(X_test)
y_hat_train = model_log.predict(X_train)

## Initial Evaluation
How many times was the classifier correct for the training set?

In [ ]:
#Your code here
residuals = np.abs(y_train - y_hat_train)

In [17]:
residuals.value_counts()
#194 correct, 85% accuracy

0    194
1     33
Name: target, dtype: int64

## How many times was the classifier correct for the test set?

In [18]:
#Your code here
residuals = np.abs(y_test - y_hat_test)
residuals.value_counts()
#63 correct, around 83% accuracy

0    63
1    13
Name: target, dtype: int64

## Analysis
Describe how well you think this initial model is based on the train and test performance. Within your description, make note of how you evaluated perforamnce as compared to our previous work with regression.

#Your answer here
The model is able to predict the target variable in about 83% of the cases, which on one hand, seems high, but on the other hand, is not high enough for medical field where there should be a highest certainty possible when making desicions involving health.

## Summary

In this lab, you practiced a standard data science pipeline, importing data, splitting into train and test sets and fitting a logistic regression model. In the upcoming labs and lessons, we'll continue to investigate how to analyze and tune these models for various scenarios.